.block_use_block_2_span {
    font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 700;
        font-size: 20px;
        transform: scale(0.9);
}

.txt_about_clinick_txt_clinic_mesenger_2_3 a {
    padding: 20px 57px;
}