.trichology_block_1 {
    margin-left: 3px;
    margin-right: 100px;
    width: 1300px;
}

.trichology_flex {
    justify-content: space-between;
}

.trichology_txt_hair_transplantation_txt {
margin-top: 30px;
}


.box_2 {
    width: 570px;
}

//-------------------------------------это блок безопастность

.txt_It_all_main {
    margin-top: 150px;
}

//--------------------------------------------------------- это юлок МИКРОПИГМЕНТАЦИЯ

.It_all_starts_img_tricopigmentation {
    width: 451px;
    height: 505px;
    margin-bottom: 150px;
}

.tricopigmentation_span {
    font-weight: bold;
}

.price_hair_flex {
    justify-content: space-between;
}

.triholog_block_mt {
    margin-bottom: 100px;
}